@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.elite-gradient-text {
  background: linear-gradient(135deg, #FFF 0%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}